@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


.header {
    background-color: #ffffff;
    padding: 2em 0 2em 0;
}

.header h1 {
    color: #06042e;
    font-family: 'Barrio', cursive;
    font-size: 52px;
    text-align: center;
    text-shadow: -2px 3px #b2afaf;
    margin-bottom: 0;
}

.header h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
}

/* Common styles for menus */
.menu {
    line-height: 1;
}

.menu_list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
}

.menu_item {
	display: block;
	margin: 1em 0;
}

.menu_link {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
	display: block;
	padding: 1em;
	cursor: pointer;
	user-select: none;
}

.menu_link:hover,
.menu_link:focus {
    outline: none;
    text-decoration: none;
}

a {
	text-decoration: none;
	color: #b6b1b1;
	outline: none;
}

.menu_top .menu_item {
	position: relative;
	overflow: hidden;
	margin: 0.5em;
}

.menu_top .menu_link {
	position: relative;
	z-index: 10;
	text-align: center;
	color: #5c4a4a;
	transition: color 0.3s;
}

.menu-top .menu_link:hover,
.menu-top .menu_link:focus {
    color: #afafaf;
}

.menu_top .menu_item_current .menu_link {
	color: #131212;
}

.menu_top .menu_item::before,
.menu_top .menu_item::after,
.menu_top .menu_link::before,
.menu_top .menu_link::after {
	content: '';
	position: absolute;
	pointer-events: none;
	opacity: 0;
	background: #1b1b1b;
	transition: transform 0.3s, opacity 0.3s;
	transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

/* top and bottom line */
.menu_top .menu_item::before,
.menu_top .menu_item::after {
	left: 0;
	width: 100%;
	height: 2px;
}

.menu_top .menu_item::before {
	top: 0;
	transform: translate3d(0, 15px, 0);
}

.menu_top .menu_item::after {
	bottom: 0;
	transform: translate3d(0, -15px, 0);
}

/* left and right line */
.menu_top .menu_link::before,
.menu_top .menu_link::after {
	top: 0;
	width: 2px;
	height: 100%;
}

.menu_top .menu_link::before {
	left: 0;
	transform: translate3d(15px, 0, 0);
}

.menu_top .menu_link::after {
	right: 0;
	transform: translate3d(-15px, 0, 0);
}

.menu_top .menu_item_current::before,
.menu_top .menu_item_current::after,
.menu_top .menu_item_current .menu_link::before,
.menu_top .menu_item_current .menu_link::after {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.about {
    padding: 2em;
    background-color: #e7f9ff;
    background-image: url('../img/about_bg.png');
    background-size: cover;
}

.about h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #0a0a0a;
}

.about_desc p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #141414;
}

.key_skills h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #0a0a0a;
    text-align: center;
}

.key_skills p {
    text-align: center;
    color: #141414;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.portfolio {
    background-image: url('../img/projects_bg.png');
    background-color: #e3ccf5;
    background-size: cover;
    margin-top: 1em;
}

.project_one, .project_two, .project_three, .project_four, .project_five, .project_six {
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    margin: 1em;
    padding: 1em;
}

.project_one, .project_two {
    margin-top: 2em;
}

.project_five, .project_six {
    margin-bottom: 2em;
}

.project_one, .project_three, .project_five {
    margin-left: 3em;
}

.project_two, .project_four, .project_six {
    margin-right: 3em;
}

.portfolio h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}

.portfolio h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.portfolio h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.portfolio p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.fa-link, .fa-github {
    font-size: 26px;
}

.view_project {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 0;
    
}

.link {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display: inline-block;
}

.link_proj {
    margin: 0 auto;
    padding: 0;
}

.project_img:hover {
    cursor: pointer;
}

.skills {
    margin-top: 1em;
    background-color: #ffd298;
    padding-top: 1em;
    padding-bottom: 1em;
}

.skills h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #c04747;
    font-weight: 300;
    text-align: center;
    padding-top: 1em;
}

.fa-html5, .fa-css3-alt, .fa-js, .fa-vuejs, .fa-php, .fa-laravel, .fa-git-square, .fa-paint-brush, .fa-python, .fa-java {
    font-size: 74px;
    color: #c04747;
    text-align: center;
}
.blog {
    margin-top: 1em;
    background-image: url('../img/blog_bg.png');
    background-size: cover;
    background-position: center;
    background-color: #8ae88d;
    padding: 2em 0 2em 0;

}

.blog_one, .blog_two, .blog_three {
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    margin: 0 4em 0 4em;
}

.blog h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
}

.blog p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.fa-eye {
    font-size: 22px;
}

.blog_link {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.contact {
    margin-top: 1em;
    background-image: url('../img/contact_bg.png');
    background-size: cover;
    background-color: #e97a7a;
    text-align: center;
    padding: 1em;
}

.fa-heart {
    color:darkred;
}

.contact_github, .fa-behance, .fa-twitter {
    font-size: 60px;
}
.footer {
    text-align: center;
    margin-top: 1em;
}

.footer p {
    display: inline-block;
}

.footer h2 {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}