.header {
    background-color: crimson;
}

.about {
    background-color: brown;
}

.portfolio {
    background-color:cyan;
}

.skills {
    background-color: darkorange;
}

.blog {
    background-color: greenyellow;
}

.contact {
    background-color: midnightblue;
}

.footer {
    background-color: lightyellow;
}
