<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
</head>
<body>
    <div class="container">
        <header class="header row">
            <div class="logo col">
                <h1>Lynsey Alexander</h1>
                <h2>Designer / Developer / Artist</h2>
            </div>
              <nav class="col menu menu_top">
					<ul class="menu_list">
						<li class="menu_item menu_item_current"><a href="#" class="menu_link">About</a></li>
						<li class="menu_item"><a href="#" class="menu_link">Projects</a></li>
						<li class="menu_item"><a href="#" class="menu_link">Skills</a></li>
						<li class="menu_item"><a href="#" class="menu_link">Blog</a></li>
						<li class="menu_item"><a href="#" class="menu_link">Contact</a></li>
					</ul>
				</nav>
        </header>
        <section class="about row">
            <div class="about_desc col">
                <h1>{{ page.about_h1 }}</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem et, unde corrupti quam nobis commodi delectus dolores accusamus illum nulla, perferendis repellat ex! Quaerat, omnis. Quo repellat laudantium dolorem id?</p>
            </div>
            <div class="key_skills col">
                <h2>Key Skills</h2>
                <div class="set_one row">
                    <p class="col">Organisation</p>
                    <p class="col">UX Design</p>
                    <p class="col">Planning</p>
                </div>
                <div class="set_two row">
                    <p class="col">Communication</p>
                    <p class="col">Learning</p>
                    <p class="col">Programming</p>
                </div>
                <div class="set_three row">
                <p class="col">Efficiency</p>
                <p class="col">Problem Solving</p>
                <p class="col">Visual Design</p>
                </div>
            </div>
        </section>
        <section class="portfolio row">
            <div class="row">
                <article class="project_one col">
                    <div class="row">
                        <div class="col">
                            <h1>Personal Portfolio</h1>
                            <h2>Project Date</h2>
                            <div><i class="fas fa-link"></i><p class="link">view site</p></div>
                            <i class="fab fa-github"></i><p class="link">view code</p>
                            <img src="../assets/img/project_thumbs/temp_placeholder.png" alt="project_image">
                        </div>
                        <div class="col">
                            <h3>Project Brief</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam, eligendi iusto error dolor quia delectus labore, blanditiis quod ex aut adipisci deleniti! Assumenda deleniti deserunt veritatis sapiente, nobis eius.</p>
                            <a class="view_project"  href="">View Detailed Description</a>
                        </div>
                    </div>
                </article>
                <article class="project_two col">
                    <div class="row">
                        <div class="col">
                            <h1>Project Title</h1>
                            <h2>Project Date</h2>
                            <i class="fas fa-link"></i><p class="link">view site</p>
                            <i class="fab fa-github"></i>
                            <p class="link">view code</p>
                            <img src="../assets/img/project_thumbs/temp_placeholder.png" alt="project_image">
                        </div>
                        <div class="col">
                            <h3>Project Brief</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam, eligendi iusto error dolor quia
                                delectus labore, blanditiis quod ex aut adipisci deleniti! Assumenda deleniti deserunt veritatis
                                sapiente, nobis eius.</p>
                            <a class="view_project"  href="">View Detailed Description</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="row">
                <article class="project_three col">
                    <div class="row">
                        <div class="col">
                            <h1>Project Title</h1>
                            <h2>Project Date</h2>
                            <i class="fas fa-link"></i><p class="link">view site</p>
                            <i class="fab fa-github"></i>
                            <p class="link">view code</p>
                            <img src="../assets/img/project_thumbs/temp_placeholder.png" alt="project_image">
                        </div>
                        <div class="col">
                            <h3>Project Brief</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam, eligendi iusto error dolor quia
                                delectus labore, blanditiis quod ex aut adipisci deleniti! Assumenda deleniti deserunt veritatis
                                sapiente, nobis eius.</p>
                            <a class="view_project"  href="">View Detailed Description</a>
                        </div>
                    </div>
                </article>
                <article class="project_four col">
                    <div class="row">
                        <div class="col">
                            <h1>Project Title</h1>
                            <h2>Project Date</h2>
                            <i class="fas fa-link"></i><p class="link">view site</p>
                            <i class="fab fa-github"></i>
                            <p class="link">view code</p>
                            <img src="../assets/img/project_thumbs/temp_placeholder.png" alt="project_image">
                        </div>
                        <div class="col">
                            <h3>Project Brief</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam, eligendi iusto error dolor quia
                                delectus labore, blanditiis quod ex aut adipisci deleniti! Assumenda deleniti deserunt veritatis
                                sapiente, nobis eius.</p>
                            <a class="view_project"  href="">View Detailed Description</a>
                        </div>
                    </div>
                </article>
            </div>
                <div class="row">
                    <article class="project_five col">
                        <div class="row">
                            <div class="col">
                                <h1>Project Title</h1>
                                <h2>Project Date</h2>
                                <i class="fas fa-link"></i><p class="link">view site</p>
                                <i class="fab fa-github"></i><p class="link">view code</p>
                                <img src="../assets/img/project_thumbs/temp_placeholder.png" alt="project_image">
                            </div>
                            <div class="col">
                                <h3>Project Brief</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam, eligendi iusto error dolor quia
                                    delectus labore, blanditiis quod ex aut adipisci deleniti! Assumenda deleniti deserunt veritatis
                                    sapiente, nobis eius.</p>
                                <a class="view_project" href="">View Detailed Description</a>
                            </div>
                        </div>
                    </article>
                    <article class="project_six col">
                        <div class="row">
                            <div class="col">
                                <h1>Project Title</h1>
                                <h2>Project Date</h2>
                                <i class="fas fa-link"></i><p class="link">view site</p>
                                <i class="fab fa-github"></i><p class="link">view code</p>
                                <img src="../assets/img/project_thumbs/temp_placeholder.png" alt="project_image">
                            </div>
                            <div class="col">
                                <h3>Project Brief</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam, eligendi iusto error dolor quia
                                    delectus labore, blanditiis quod ex aut adipisci deleniti! Assumenda deleniti deserunt veritatis
                                    sapiente, nobis eius.</p>
                                <a class="view_project" href="">View Detailed Description</a>
                            </div>
                        </div>
                    </article>
                </div>
        </section>
        <section class="skills row">
            <div class="skill_one col">
                <i class="fab fa-html5 active"></i>
                <h3>HTML 5</h3>
            </div>
            <div class="skill_two col">
                <i class="fab fa-css3-alt"></i>
                <h3>CSS3</h3>
            </div>
            <div class="skill_three col">
                <i class="fab fa-js"></i>
                <h3>JavaScript</h3>
            </div>
            <div class="skill_four col">
                <i class="fab fa-vuejs"></i>
                <h3>vuejs</h3>
            </div>
            <div class="skill_five col">
                <i class="fab fa-php"></i>
                <h3>PHP</h3>
            </div>
            <div class="skill_six col">
                <i class="fab fa-laravel"></i>
                <h3>Laravel</h3>
            </div>
            <div class="skill_seven col">
                <i class="fab fa-git-square"></i>
                <h3>git & github</h3>
            </div>
            <div class="skill_eight col">
                <i class="fas fa-paint-brush"></i>
                <h3>Photoshop Adobe XD</h3>
            </div>
            <div class="skill_nine col">
                <i class="fab fa-python"></i>
                <h3>Python</h3>
            </div>
            <div class="skill_ten col">
                <i class="fab fa-java"></i>
                <h3>Java</h3>
            </div>
        </section>
        <section class="blog row">
            <div class="blog_one col">
            <img src="" alt="">
                <h2>Blog Title Goes here</h2>
                <p>Date goes here</p>
                <i class="far fa-eye"></i><a  class="blog_link" href="">View Blog Post...</a>
            </div>
            <div class="blog_two col">
            <img src="" alt="">
                <h2>Blog Title Goes here</h2>
                <p>Date goes here</p>
                <i class="far fa-eye"></i><a class="blog_link" href="">View Blog Post...</a>
            </div>
            <div class="blog_three col">
            <img src="" alt="">
                <h2>Blog Title Goes here</h2>
                <p>Date goes here</p>
                <i class="far fa-eye"></i><a class="blog_link" href="">View Blog Post...</a>
            </div>
        </section>
        <section class="contact row">
           <div class="contact_form col">
            <h1>Contact</h1>
            <form action="">
                <label for="name">Your Name</label>
                <input type="text" placeholder="Name Goes here">
                <label for="email">Email</label>
                <input type="email">
                <label for="message">Message</label>
                <textarea name="message" id="" cols="30" rows="10"></textarea>
                <input type="submit" value="Send Message">
            </form>
            </div>
            <div class="profile_links col">
            <div class="links row">
                <div class="link_one col">
                    <i class="fab fa-github contact_github"></i>
                    <p>GitHub</p>
                </div>
                <div class="link_two col">
                    <i class="fab fa-behance"></i>
                    <p>Behance</p>
                </div>
                <div class="link_three col">
                    <i class="fab fa-twitter"></i>
                    <p>Twitter</p>
                </div>
            </div>
            </div>
        </section>
        <section class="footer row">
            <div class="footer_content col">
            <p>Crafted with <3 in Scotland. <h2>2021</h2></p>
            </div>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>