<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header class="header row">
            <div class="logo col">
                <h1>Lynsey Alexander</h1>
                <h2>Designer / Developer / Artist</h2>
            </div>
            <nav class="col">
                <ul>
                    <li>About</li>
                    <li>Projects</li>
                    <li>Skills</li>
                    <li>Blog</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </header>
        <section class="about row">
            <div class="about_desc col">
                <h1>{{ page.about_h1 }}</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem et, unde corrupti quam nobis commodi delectus dolores accusamus illum nulla, perferendis repellat ex! Quaerat, omnis. Quo repellat laudantium dolorem id?</p>
            </div>
            <div class="key_skills col">
                <h2>Key Skills</h2>
                <p>Organisation</p>
                <p>UX Design</p>
                <p>Planning</p>
                <p>Communication</p>
                <p>Learning</p>
                <p>Programming</p>
                <p>Efficiency</p>
                <p>Problem Solving</p>
                <p>Visual Design</p>
            </div>
        </section>
        <section class="portfolio row">
            <div class="row">
                <article class="project_one col">
                    <h1>Project Title</h1>
                    <h2>Project Date</h2>
                    <img src="" alt=""><p>view site</p>
                    <img src="" alt=""><p>view code</p>
                    <img src="" alt="">
                    <h3>Project Description</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam, eligendi iusto error dolor quia delectus labore, blanditiis quod ex aut adipisci deleniti! Assumenda deleniti deserunt veritatis sapiente, nobis eius.</p>
                    <a href="">View Detailed Description</a>
                </article>
                <article class="project_two col">
                <h1>Project Title</h1>
                <h2>Project Date</h2>
                <img src="" alt=""><p>view site</p>
                <img src="" alt=""><p>view code</p>
                <img src="" alt="">
                <h3>Project Description</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam, eligendi iusto error dolor quia delectus labore, blanditiis quod ex aut adipisci deleniti! Assumenda deleniti deserunt veritatis sapiente, nobis eius.</p>
                <a href="">View Detailed Description</a>
                </article>
            </div>
            <div class="row">
                <article class="project_three col">
                    <h1>Project Title</h1>
                    <h2>Project Date</h2>
                    <img src="" alt=""><p>view site</p>
                    <img src="" alt=""><p>view code</p>
                    <img src="" alt="">
                    <h3>Project Description</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam, eligendi iusto error dolor quia delectus labore, blanditiis quod ex aut adipisci deleniti! Assumenda deleniti deserunt veritatis sapiente, nobis eius.</p>
                    <a href="">View Detailed Description</a>
                </article>
                <article class="project_four col">
                    <h1>Project Title</h1>
                    <h2>Project Date</h2>
                    <img src="" alt=""><p>view site</p>
                    <img src="" alt=""><p>view code</p>
                    <img src="" alt="">
                    <h3>Project Description</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam, eligendi iusto error dolor quia delectus labore, blanditiis quod ex aut adipisci deleniti! Assumenda deleniti deserunt veritatis sapiente, nobis eius.</p>
                    <a href="">View Detailed Description</a>
                    </article>
                </div>
                <div class="row">
                    <article class="project_five col">
                    <h1>Project Title</h1>
                    <h2>Project Date</h2>
                    <img src="" alt=""><p>view site</p>
                    <img src="" alt=""><p>view code</p>
                    <img src="" alt="">
                    <h3>Project Description</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam, eligendi iusto error dolor quia delectus labore, blanditiis quod ex aut adipisci deleniti! Assumenda deleniti deserunt veritatis sapiente, nobis eius.</p>
                    <a href="">View Detailed Description</a>
                    </article>
                    <article class="project_six col">
                    <h1>Project Title</h1>
                    <h2>Project Date</h2>
                    <img src="" alt=""><p>view site</p>
                    <img src="" alt=""><p>view code</p>
                    <img src="" alt="">
                    <h3>Project Description</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam, eligendi iusto error dolor quia delectus labore, blanditiis quod ex aut adipisci deleniti! Assumenda deleniti deserunt veritatis sapiente, nobis eius.</p>
                    <a href="">View Detailed Description</a>
                    </article>
                </div>
        </section>
        <section class="skills row">
            <div class="skill_one col">
                <img src="" alt="">
                <h3>HTML 5</h3>
            </div>
            <div class="skill_two col">
            <img src="" alt="">
                <h3>CSS3</h3>
            </div>
            <div class="skill_three col">
            <img src="" alt="">
                <h3>JavaScript</h3>
            </div>
            <div class="skill_four col">
            <img src="" alt="">
                <h3>vuejs</h3>
            </div>
            <div class="skill_five col">
            <img src="" alt="">
                <h3>PHP</h3>
            </div>
            <div class="skill_six col">
            <img src="" alt="">
                <h3>Laravel</h3>
            </div>
            <div class="skill_seven col">
            <img src="" alt="">
                <h3>git and github</h3>
            </div>
            <div class="skill_eight col">
            <img src="" alt="">
                <h3>Photoshop Adobe XD</h3>
            </div>
            <div class="skill_nine col">
            <img src="" alt="">
                <h3>Python</h3>
            </div>
            <div class="skill_ten col">
            <img src="" alt="">
                <h3>Java</h3>
            </div>
        </section>
        <section class="blog row">
            <div class="blog_one col">
            <img src="" alt="">
                <h2>Blog Title Goes here</h2>
                <p>Date goes here</p>
                <p>View Blog Post...</p>
            </div>
            <div class="blog_two col">
            <img src="" alt="">
                <h2>Blog Title Goes here</h2>
                <p>Date goes here</p>
                <p>View Blog Post...</p>
            </div>
            <div class="blog_three col">
            <img src="" alt="">
                <h2>Blog Title Goes here</h2>
                <p>Date goes here</p>
                <p>View Blog Post...</p>
            </div>
        </section>
        <section class="contact row">
           <div class="contact_form col">
            <h1>Contact</h1>
            <form action="">
                <label for="name">Your Name</label>
                <input type="text" placeholder="Name Goes here">
                <label for="email">Email</label>
                <input type="email">
                <label for="message">Message</label>
                <textarea name="message" id="" cols="30" rows="10"></textarea>
                <input type="sumit" value="Send Message">
            </form>
            </div>
            <div class="profile_links col">
            <div class="links row">
                <div class="link_one col">
                <img src="" alt="">
                    <p>GitHub</p>
                </div>
                <div class="link_two col">
                <img src="" alt="">
                    <p>Behance</p>
                </div>
                <div class="link_three col">
                <img src="" alt="">
                    <p>Twitter</p>
                </div>
            </div>
            </div>
        </section>
        <section class="footer row">
            <div class="footer_content col">
            <p>Crafted with <3 in Scotland. <h2>2021</h2></p>
            </div>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>